body {
  background-color: #ffffff;
}

.ant-message {
  z-index: 9999999999;
}

@media print {
  .noPrint {
    display:none;
  }

  .admin-table tbody tr, 
  .admin-table tbody td,
  .admin-table tbody th {
    background-color: #ffffff !important;
  }
}
@media screen {
   .onlyPrint {
      display: none;
   }
}